@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Poppins:wght@400;500&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
}

/* BODY STYLINGS  */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eee;
}

/* MAIN CONTAINER STYLES */

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  width: 400px;
  height: 380px;
  text-align: center;
  border: 5px solid #131a26;
  background-color: #131a26;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/* KEYPAD BUTTONS STYLES */

.keypad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(60px, auto);
  
}

/* INPUT FIELD STYLES */

input[type="text"] {
  height: 75px;
  width: 250px;
  background-color: #131a26;
  border: 0px;
  color: white;
  text-align: right;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: 1px;
}

/* CLEAR BUTTON STYLES */

#clear {
  grid-column: 1/3;
  grid-row: 1;
  color: #262834;
}

/* RESULT BUTTON STYLES */

#result {
  grid-column: 3/5;
  grid-row: 5;
  color: #262834;
}

/* EVERY SINGLE BUTTON STYLE  */

button {
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: #262834;
  color: white;
  font-weight: 500;
  font-size: larger;
}

/* OPERATIONS BUTTONS STYLES */

.highlight {
  background-color: #56cbdb;
  color: #262834;
  font-weight: 600;
  font-size: larger;
}